body {
  margin: 0;
  background: linear-gradient(to right, #5A2200, black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  gap: 50px;
  font-family: "Libre Franklin", sans-serif;
}

/* Nav bar */

nav {
  display: flex;
  gap: 40px;
}

nav > button {
  width: 115px;
  height: 30px;
  font-size: 1.1rem;
  background-color: #3d3d3d;
  transition: all 0.3s ease-in-out;
  color: white;
  border: none;
}

nav > button:hover {
  cursor: pointer;
  background-color: #FDE7AB;
  color: #240000;
  font-weight: bold;
}

/* Content - Home*/

div#content {
  background: url("./images/ezequiel-garrido-aWh5s820JZI-unsplash.jpg") 50% 0 / contain no-repeat;

  height: 700px;
}

div#content > div.home {
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 7%;
}

div#content > div.home > div:first-child {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 200px;
}

div#content > div.home > div:first-child > span {
  color: white;
  font-size: 3rem;
  font-family: "Milonga", serif;
}

div#content > div.home > div:nth-child(2) {
  color: white;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 35px;
}

div#content button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border-color: #FDE7AB;
  border-style: solid;
  color: #FDE7AB;
  font-size: 1.3rem;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

div#content button:hover {
  cursor: pointer;
  background-color: #FDE7AB;
  color: #240000;
  font-weight: bold;
}

/* Content - Menu*/

div#content > div.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  color: white;
}

div.menu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.menu > div > div:first-child {
  font-size: 3rem;
  font-family: "Petit Formal Script", cursive;
  margin: 50px 0 20px;
}

div.menu > div:first-child > div:first-child {
  margin-top: 0;
}

div.menu > div > div:nth-child(2) {
  display: grid;
  grid-template-columns: 500px 500px;
  place-items: center;
  row-gap: 50px;
  column-gap: 20px;
}

div.menu > div:not(:first-child) > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  place-items: center;
}

/* Cards */

.card { 
  background-color: #3d3d3d;
  border-radius: 5px;
  border-left: solid 5px #FDE7AB;
}

.card-row {
  display: flex;
}

.card-column {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 150px;
  gap: 15px;
  border-right: solid 1px #FDE7AB;
}

.card-column > div {
  padding: 0.7rem;
}

.card-column > div:first-child {
  font-family: "Milonga", serif;
  font-size: 1.1rem;
}

.card-row > div:nth-child(2) {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  width: 80px;
}

/* "Combos" cards */

div.menu > div:first-child .card-column {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 180px;
  gap: 15px;
  border-right: solid 1px #2dc0fa;
}

div.menu > div:first-child .card-column > div {
  padding: 0.7rem;
}

div.menu > div:first-child .card-column > div:first-child {
  font-family: "Milonga", serif;
  font-size: 1.2rem;
}

div.menu > div:first-child .card-row > div:nth-child(2) {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  width: 90px;
}

div.menu > div:first-child .card { 
  border-left: solid 5px #2dc0fa;
}

div.menu > div:last-child {
  margin-bottom: 50px;
}

/* Content - Contact Page */

div.contact-page {
  background-color: #121212;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  /* padding: 20px; */
  width: 500px;
  color: white;
  gap: 10px;
  border: solid 2px #FDE7AB;
}

div.contact-page > div > img {
  width: 30px;
}

div.contact-page > div:not(:first-child) {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

div.contact-page > div:first-child {
  padding-bottom: 20px;
}

div.contact-page > div:nth-child(even) {
  background-color: black;
}

div.contact-page > div {
  padding: 7px;
}