body {
  margin: 0;
  background: linear-gradient(to right, #5A2200, black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  gap: 50px;
  font-family: "Libre Franklin", sans-serif;
}

/* Nav bar */

nav {
  display: flex;
  gap: 40px;
}

nav > button {
  width: 115px;
  height: 30px;
  font-size: 1.1rem;
  background-color: #3d3d3d;
  transition: all 0.3s ease-in-out;
  color: #fffafa;
  border: none;
}

nav > button:hover {
  cursor: pointer;
  background-color: #FDE7AB;
  color: #240000;
  font-weight: bold;
}

/* Content - Home*/

div#content {
  background: url("./images/ezequiel-garrido-aWh5s820JZI-unsplash.jpg") 50% 0 / contain no-repeat;

  height: 700px;
}

div#content > div.home {
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 7%;
}

div#content > div.home > div:first-child {
  color: #fffafa;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 200px;
}

div#content > div.home > div:first-child > span {
  color: #fffafa;
  font-size: 3rem;
  font-family: "Milonga", serif;
}

div#content > div.home > div:nth-child(2) {
  color: #fffafa;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 35px;
}

div#content button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border-color: #FDE7AB;
  border-style: solid;
  color: #FDE7AB;
  font-size: 1.3rem;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

div#content button:hover {
  cursor: pointer;
  background-color: #FDE7AB;
  color: #240000;
  font-weight: bold;
}

/* Content - Menu*/

div#content > div.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  color: #fffafa;
}

div.menu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.menu > div > div:first-child {
  font-size: 3rem;
  font-family: "Petit Formal Script", cursive;
}

div.menu > div > div:nth-child(2) {
  display: grid;
  grid-template-columns: 200px 200px;
}